Json_Format_Node_Flow
[{"id":"9ae8a36f.02152","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"743fe13d.08d44","type":"twitter in","z":"9ae8a36f.02152","twitter":"","tags":"#corona","user":"false","name":"","inputs":0,"x":220,"y":200,"wires":[["457157db.d56fe8"]]},{"id":"a83d0446.56b678","type":"function","z":"9ae8a36f.02152","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":200,"wires":[["3dfaa1a3.f7b1de","13ff1e77.47aaa2","156cb624.a8f67a","54bbce51.4a6cb","f9406fd6.a2a7c"]]},{"id":"457157db.d56fe8","type":"sentiment","z":"9ae8a36f.02152","name":"","property":"payload","x":382,"y":220,"wires":[["a83d0446.56b678","58a0dd2a.510244","49c5b6c7.63f798","2ec2e858.123448","50f60b4a.bbca74","96669d0d.40205","f11000ca.21933","cb268b31.9bee68","98951b15.c32948"]]},{"id":"98951b15.c32948","type":"debug","z":"9ae8a36f.02152","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":100,"wires":[]},{"id":"58a0dd2a.510244","type":"function","z":"9ae8a36f.02152","name":"POSITIVE","func":"msg.payload=\"1 to 20\"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["2fd9a514.0c343a"]]},{"id":"2fd9a514.0c343a","type":"ui_text","z":"9ae8a36f.02152","group":"49dcd9aa.eb9248","order":1,"width":0,"height":0,"name":"","label":"Positive","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":420,"wires":[]},{"id":"49c5b6c7.63f798","type":"function","z":"9ae8a36f.02152","name":"NEUTRAL","func":"msg.payload=\"0\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":420,"wires":[["89840d2b.a47cc"]]},{"id":"2ec2e858.123448","type":"function","z":"9ae8a36f.02152","name":"NEGATIVE","func":"msg.payload=\"-1 to -20\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":500,"wires":[["ab5dae2.8fb425"]]},{"id":"89840d2b.a47cc","type":"ui_text","z":"9ae8a36f.02152","group":"49dcd9aa.eb9248","order":3,"width":0,"height":0,"name":"","label":"Neutral","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":500,"wires":[]},{"id":"ab5dae2.8fb425","type":"ui_text","z":"9ae8a36f.02152","group":"49dcd9aa.eb9248","order":2,"width":0,"height":0,"name":"","label":"Negative","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":580,"wires":[]},{"id":"50f60b4a.bbca74","type":"function","z":"9ae8a36f.02152","name":"Value","func":"var s=msg.sentiment.score;\nif(s>0)\n msg.payload=\"Positive =\"+\" \"+s;\nelse if(s<0)\n msg.payload=\"Negative =\"+\" \"+s;\nelse\n msg.payload=\"Neutral =\"+\" \"+s;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":260,"wires":[["8c450997.1ecea8","58eea21e.69d62c"]]},{"id":"8c450997.1ecea8","type":"ui_text","z":"9ae8a36f.02152","group":"cd6096ab.b2c638","order":2,"width":0,"height":0,"name":"","label":"Sentiment Value","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":300,"wires":[]},{"id":"96669d0d.40205","type":"function","z":"9ae8a36f.02152","name":"About COVID-19","func":"msg.payload=\"#STAY HOME\";\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":600,"wires":[["af97fe22.73452"]]},{"id":"af97fe22.73452","type":"ui_text","z":"9ae8a36f.02152","group":"81451f4.ba743e","order":0,"width":"2","height":"3","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":640,"wires":[]},{"id":"f11000ca.21933","type":"function","z":"9ae8a36f.02152","name":"About COVID-19","func":"msg.payload=\"#MAINTAIN SOCIAL DISTANCE\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":680,"wires":[["e095c617.e7fd38"]]},{"id":"e095c617.e7fd38","type":"ui_text","z":"9ae8a36f.02152","group":"81451f4.ba743e","order":0,"width":"2","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":700,"wires":[]},{"id":"3dfaa1a3.f7b1de","type":"ui_gauge","z":"9ae8a36f.02152","name":"","group":"f5939dfa.b64ce","order":3,"width":"3","height":"5","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#fc0307","#fcad03","#139202"],"seg1":"","seg2":"","x":740,"y":100,"wires":[]},{"id":"13ff1e77.47aaa2","type":"ui_gauge","z":"9ae8a36f.02152","name":"","group":"de379508.148ea8","order":3,"width":"3","height":"5","gtype":"donut","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#fc0307","#fcad03","#139202"],"seg1":"","seg2":"","x":710,"y":160,"wires":[]},{"id":"156cb624.a8f67a","type":"ui_gauge","z":"9ae8a36f.02152","name":"","group":"de379508.148ea8","order":3,"width":"3","height":"4","gtype":"compass","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#fc0307","#fcad03","#139202"],"seg1":"","seg2":"","x":720,"y":240,"wires":[]},{"id":"54bbce51.4a6cb","type":"ui_gauge","z":"9ae8a36f.02152","name":"","group":"9ee1d293.aaae1","order":3,"width":"3","height":"5","gtype":"wave","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#fc0307","#fcad03","#139202"],"seg1":"","seg2":"","x":830,"y":180,"wires":[]},{"id":"f9406fd6.a2a7c","type":"ui_chart","z":"9ae8a36f.02152","name":"","group":"2e84e85a.b7d928","order":0,"width":"3","height":"8","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"-20","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#03385e","#09ddec","#be5804","#025a02","#3c5f35","#e30202","#ff94f6","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":920,"y":140,"wires":[[]]},{"id":"aac9c7eb.c0bdf8","type":"ui_text","z":"9ae8a36f.02152","group":"dc07e76b.e47af8","order":2,"width":"4","height":"8","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":40,"wires":[]},{"id":"cb268b31.9bee68","type":"delay","z":"9ae8a36f.02152","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":40,"wires":[["aac9c7eb.c0bdf8"]]},{"id":"58eea21e.69d62c","type":"ui_toast","z":"9ae8a36f.02152","position":"top right","displayTime":"3","highlight":"transparent","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Sentiment","name":"","x":870,"y":340,"wires":[]},{"id":"20f92b9b.456334","type":"feedparse","z":"9ae8a36f.02152","name":"","url":"http://rss.cnn.com/rss/edition.rss","interval":"1","x":210,"y":740,"wires":[["f61dc18f.b8aab"]]},{"id":"f61dc18f.b8aab","type":"sentiment","z":"9ae8a36f.02152","name":"","property":"payload","x":420,"y":760,"wires":[["c66e65a0.8e7ab8","689152f6.14bcac"]]},{"id":"c66e65a0.8e7ab8","type":"ui_text","z":"9ae8a36f.02152","group":"785b50b3.4eede","order":1,"width":"4","height":"8","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":780,"wires":[]},{"id":"689152f6.14bcac","type":"debug","z":"9ae8a36f.02152","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":820,"wires":[]},{"id":"49dcd9aa.eb9248","type":"ui_group","z":"","name":"Range_Sentiment","tab":"aa782529.494c38","order":1,"disp":true,"width":"6","collapse":false},{"id":"cd6096ab.b2c638","type":"ui_group","z":"","name":"Sentiment Value","tab":"aa782529.494c38","order":2,"disp":true,"width":"6","collapse":false},{"id":"81451f4.ba743e","type":"ui_group","z":"","name":"Slogans","tab":"aa782529.494c38","order":3,"disp":true,"width":"6","collapse":false},{"id":"f5939dfa.b64ce","type":"ui_group","z":"","name":"Gauge","tab":"aa782529.494c38","order":5,"disp":true,"width":"6","collapse":false},{"id":"de379508.148ea8","type":"ui_group","z":"","name":"Donut&compass","tab":"aa782529.494c38","order":6,"disp":true,"width":"6","collapse":false},{"id":"9ee1d293.aaae1","type":"ui_group","z":"","name":"Level","tab":"aa782529.494c38","order":7,"disp":true,"width":"6","collapse":false},{"id":"2e84e85a.b7d928","type":"ui_group","z":"","name":"Line Chart","tab":"aa782529.494c38","order":8,"disp":true,"width":"6","collapse":false},{"id":"dc07e76b.e47af8","type":"ui_group","z":"","name":"Tweets","tab":"aa782529.494c38","order":9,"disp":true,"width":"6","collapse":false},{"id":"785b50b3.4eede","type":"ui_group","z":"","name":"News","tab":"aa782529.494c38","order":10,"disp":true,"width":"6","collapse":false},{"id":"aa782529.494c38","type":"ui_tab","z":"","name":"COVID19_Sentiment_Analysis","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
